body{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    display: grid;
    justify-items: center;
}
.container{
    background-color: #900C3F;
    padding: 10px;
    border-radius: 2em;
}
.container h2,div{
    
}
.container h2{
    width: 90%;
    font-size: 4em;
    color: green ;
    margin: 0px;
    /* border: 1px solid yellowgreen; */
}
.container h2 span{
    color: darksalmon ;
}
.container .calculator{
    display: grid;
    justify-content: center;
    padding: 20px;
}
.container .calculator input{
    padding-left: 1em;
    background-color: black;
    color: white;
    min-height: 2em;
    font-size: 1.7em;
    width: auto;
    border-radius: .5em;
    border: 2px solid green;
    margin: 20px;
    outline: none;
}
.container .calculator table tr td button{
    width: 3em;
    height: 2em;
    font-size: 2em;
    margin: 10px;
    color: white;
    border-radius: 14px;
    border: 2px solid green;
    background:black;
}
.mini{
    font-size: 4em;
    text-decoration: underline solid green;
}

@media (max-width:800px){
    .container{
        width: 80%;
        padding: 20px;
    }
    .mini{
        font-size: 4em;
    }
    
}
@media (max-width:500px){
    .container{
        width: 80%;
        padding: 10px;
    }
    
}